html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
    background: rgb(116, 161, 210);
}

#wrapper {
    
    
}

input {
    display: block;
    background: rgb(116, 161, 210);
    border: solid 1px white;
    line-height: 20px;
}

textarea {
    display: block;
    background: rgb(116, 161, 210);
    border: solid 1px white;
}

select {
    display: block;
    background: rgb(116, 161, 210);
    border: solid 1px white;
    width: 150px;
}